@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
		
	}
	50%{
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}
/*animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;*/
html{
	font-family: Questrial;
	cursor: default;
	background-color: rgb(70,70,70);
	background-attachment: fixed;
	margin-right: 5%;
	margin-top: 2%;
	margin-left: 5%;

}

body{
	
	border:1px solid black;
	box-shadow: 0px 21px 20px 4px black;
	height: 32em;
	background-image: url("glasses.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: white;
	background-position: bottom left;
}
#navigator{
	
	display: flex;
	margin-top: -1px;
	top: 0;
	z-index: 2;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:rgba(0,0,0,1);
	justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
#navigator>span{
	
		align-self: center;
}
.navbtn{
	display: inline;
	font-size: 20px;
	margin-right: 25px;
	cursor: pointer;
	color:white;
	text-transform: uppercase;
	letter-spacing: 1px;
	float: right;

}
.navbtn:hover{
	border:none;
	cursor: pointer;
}
 
 #nameimg{
 	float: left;
 	height: 35px;
 	margin-right: 3em;
 }
 
 li>a{
 	text-decoration: none;
 	color:white;
 }
#container{
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 3fr 4fr;
	margin-left: 1em;
	width:100%;
	
}
#container>h1{
	grid-column-start: 1;

}
#container>h2{
	grid-column-start: 2;
	grid-row-start: 1;
}
#container>h3{
	grid-column-start: 2;
	grid-row-start: 1;	
	margin-top: 7em;
	align-self: self-end;	
}
#container>*{
	width: 80%;
	overflow: hidden;
}

#game{

	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,1fr);
	margin-top: 1%;
	height: 13em;
	width: 90%;
	background-color: transparent;
	border:none;
	cursor: pointer;
	margin-left: 10%;
}
#cake{
	width: 20%;
}
