@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
		
	}
	50%{
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}
@keyframes Vibrate {
	0% {
		margin-left: 0.2em;
		
	}
	50%{
		margin-left: -0.2em;
	}
	
	100% {
		margin-left: 0.2em;	
	}
}
/*animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;*/

html{
	font-family: Questrial;
	cursor: default;
	background-color: rgb(70,70,70);
	background-attachment: fixed;
	margin-right: 5%;
	margin-top: 2%;
	margin-left: 5%;

}

body{
	
	border:1px solid black;
	box-shadow: 0px 21px 20px 4px black;
	height: 32em;
	background-image: url("glasses.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: white;
	background-position: bottom left;
}
#navigator{
	
	display: flex;
	margin-top: -1px;
	top: 0;
	z-index: 2;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:rgba(0,0,0,1);
	justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
#navigator>span{
	
		align-self: center;
}
.navbtn{
	display: inline;
	font-size: 20px;
	margin-right: 25px;
	cursor: pointer;
	color:white;
	text-transform: uppercase;
	letter-spacing: 1px;
	float: right;

}
.navbtn:hover{
	border:none;
	cursor: pointer;
}
 
 #nameimg{
 	float: left;
 	height: 35px;
 	margin-right: 3em;
 }
 
 li>a{
 	text-decoration: none;
 	color:white;
 }

#paraname{
	margin-left: 0.5em;
	text-transform: uppercase;
	font-size: 2em;
	transition: margin-left 1s ease;
	grid-column-start: 1;
	margin-bottom: 0.2em;
	grid-row-start: 1;
}




#container{
	display: grid;
	grid-template-columns: 3fr 4fr;
	grid-template-rows: repeat(auto,1fr);
	width: 100%;
}
#projects{
	margin-top: 0em;
	grid-column-start: 2;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;

}
#firstproject{
	margin-top: 2em;
}

.projectwindow{
	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
	margin-bottom: 1em;
	margin-left: 2em;
}
.projectlogo{
	grid-column-start: 1;
	width: 110px;
	margin-top: 0.4em;
}
.sitepic{
	border: 0.1em solid black;
	padding: 0.2em;
	grid-column-start: 3;
	width: 110px;
	border-radius: 5px;
	box-shadow: 2px 10px 10px 1px gray;
	margin-right: 2em;
	
}
.sitepic:hover{
/*	transform: scaleX(1.2);	*/
	/*margin-right: 6.5em;
	transition: 0.1s;*/
	animation-name: Vibrate;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;*/
}
.projectdescription{
	margin-left: 1em;
}
